<div *ngIf="successToast" class="alert alert-success my-3">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>Employee Submited</span>
</div>
<div *ngIf="errorToast" class="alert alert-error my-3">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>Please Complete the Data !</span>
</div>
<div *ngIf="updateToast" class="alert alert-warning my-3">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>Employee Updated</span>
</div>
<div *ngIf="deleteToast" class="alert alert-error my-3">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>Employee Deleted</span>
</div>
<div class="container py-12 mx-auto">
    <div class="text-sm breadcrumbs">
        <ul>
            <li>
                <a>
                    <mat-icon>home</mat-icon>
                    Home
                </a>
            </li>
            <li>
                <mat-icon>group</mat-icon>
                Employee-list
            </li>
        </ul>
    </div>
    <div *ngIf="selectedItem">
        <div class="divider"></div>
        <div class="p-3 shadow-sm rounded-sm">
            <div class="flex items-center space-x-2 font-semibold leading-8">
                <span class="tracking-wide">
                    <h2>{{ selectedItem.firstName }} {{ selectedItem.lastName }} Details</h2>
                </span>
            </div>
            <div class="">
                <div class="grid md:grid-cols-2 text-sm">
                    <div class="grid grid-cols-2">
                        <div class="px-4 py-2 font-semibold">Username</div>
                        <div class="px-4 py-2">{{ selectedItem.username }}</div>
                    </div>
                    <div class="grid grid-cols-2">
                        <div class="px-4 py-2 font-semibold">First Name</div>
                        <div class="px-4 py-2">{{ selectedItem.firstName }}</div>
                    </div>
                    <div class="grid grid-cols-2">
                        <div class="px-4 py-2 font-semibold">Last Name</div>
                        <div class="px-4 py-2">{{ selectedItem.lastName }}</div>
                    </div>
                    <div class="grid grid-cols-2">
                        <div class="px-4 py-2 font-semibold">Email.</div>
                        <div class="px-4 py-2">
                            <a class="text-blue-800" href="mailto:jane@example.com">{{ selectedItem.email }}</a>
                        </div>
                    </div>
                    <div class="grid grid-cols-2">
                        <div class="px-4 py-2 font-semibold">Birth Date</div>
                        <div class="px-4 py-2">{{ selectedItem.birthDate }}</div>
                    </div>
                    <div class="grid grid-cols-2">
                        <div class="px-4 py-2 font-semibold">Basic Salary</div>
                        <div class="px-4 py-2">{{ toRupiah(selectedItem.basicSalary) }}</div>
                    </div>
                    <div class="grid grid-cols-2">
                        <div class="px-4 py-2 font-semibold">Status</div>
                        <div class="px-4 py-2">
                            <ng-container *ngIf="isStatusEqual(selectedItem.status, 'active'); else notEqualTemplate">
                                <!-- Render HTML content when the condition is true -->
                                <div class="cursor-pointer badge badge-success badge-outline">active</div>
                            </ng-container>
                            <ng-template #notEqualTemplate>
                                <!-- Render HTML content when the condition is false -->
                                <div class="cursor-pointer badge badge-error badge-outline">inactive</div>
                            </ng-template>
                        </div>
                    </div>
                    <div class="grid grid-cols-2">
                        <div class="px-4 py-2 font-semibold">Group</div>
                        <div class="px-4 py-2">{{ selectedItem.group }}</div>
                    </div>
                    <div class="grid grid-cols-2">
                        <div class="px-4 py-2 font-semibold">Description</div>
                        <div class="px-4 py-2">{{ selectedItem.description }}</div>
                    </div>
                </div>
            </div>
            <button (click)="resetItem()" class="btn w-full my-3">Close</button>
        </div>
    </div>
    <div *ngIf="addEmployee">
        <div class="divider"></div>
        <div class="p-3 shadow-sm rounded-sm">
            <div class="flex items-center space-x-2 font-semibold leading-8">
                <span class="tracking-wide">
                    <h2>Add New Employee Data</h2>
                </span>
            </div>
            <form (ngSubmit)="onSubmit()">
                <div class="grid md:grid-cols-2 text-sm space-y-3">
                    <div class="grid grid-cols-2">
                        <div for="username" class="px-4 py-2 font-semibold">Username</div>
                        <input id="username"  [(ngModel)]="formData.username" type="text" name="username" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
                    </div>
                    <div class="grid grid-cols-2">
                        <div for="firstName" class="px-4 py-2 font-semibold">First Name</div>
                        <input id="firstName"  [(ngModel)]="formData.firstName" type="text" name="firstName" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
                    </div>
                    <div class="grid grid-cols-2">
                        <div for="lastName" class="px-4 py-2 font-semibold">Last Name</div>
                        <input id="lastName" [(ngModel)]="formData.lastName" type="text" name="lastName" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
                    </div>
                    <div class="grid grid-cols-2">
                        <div class="px-4 py-2 font-semibold">Email.</div>
                        <input id="email" [(ngModel)]="formData.email" type="text" name="email" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
                    </div>
                    <div class="grid grid-cols-2">
                        <div class="px-4 py-2 font-semibold">Birth Date</div>
                        <input id="birthDate" [(ngModel)]="formData.birthDate" type="date" name="birthDate" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
                    </div>
                    <div class="grid grid-cols-2">
                        <div class="px-4 py-2 font-semibold">Basic Salary</div>
                        <input id="basicSalary" [(ngModel)]="formData.basicSalary" type="text" name="basicSalary" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
                    </div>
                    <div class="grid grid-cols-2">
                        <div class="px-4 py-2 font-semibold">Status</div>
                        <select id="status" (change) = "selectStatus($any($event.target).value)" name="status" [(ngModel)]="formData.status" class="select select-bordered w-full max-w-xs">
                            <option selected value="">Select a Group </option>
                            <option value="active">Active</option>
                            <option value="inactive">Inactive</option>
                        </select>
                    </div>
                    <div class="grid grid-cols-2">
                        <div class="px-4 py-2 font-semibold">Group</div>
                        <div>
                            <input type="text" (input)="filterOptions()" [ngModelOptions]="{ standalone: true }" name="searchText" [(ngModel)]="searchText" class="input input-bordered w-full max-w-xs" placeholder="Search options">
                            <select id="group" (change) = "selectGroup($any($event.target).value)" [(ngModel)]="formData.group" name="searchText" [(ngModel)]="searchText" class="select select-bordered w-full max-w-xs">
                              <option value="">Select a Group </option>
                              <option *ngFor="let option of filteredOptions" [value]="option.value">{{ option.label }}</option>
                            </select>
                          </div>
                          
                    </div>
                    <div class="grid grid-cols-2">
                        <div class="px-4 py-2 font-semibold">Description</div>
                        <input id="description" [(ngModel)]="formData.description" required type="text" name="description" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
                    </div>
                </div>
                <button type="submit" class="btn w-full my-3 bg-green-800">Submit</button>
            </form>

            <button (click)="addEmployeeTogle()" class="btn w-full bg-red-800">Cancel</button>
        </div>
    </div>
    <div class="divider"></div>
    <h1 class="pt-3">Employee List</h1>

    <!-- Search Input -->
    <div class="flex space-x-3 my-3">
        <div class="form-group">
            <input type="text" class="form-control input input-bordered w-full max-w-md"
                placeholder="Search email / username" [(ngModel)]="searchTerm" (input)="filterEmployees()" />
        </div>
        <button (click)="addEmployeeTogle()" class="btn"><mat-icon><mat-icon>group_add</mat-icon></mat-icon>Add
            Employee</button>
    </div>


    <!-- Table -->
    <div class="overflow-x-auto">
        <table class="table table-xs table-auto static">
            <thead>
                <tr>
                    <!-- Table Headers with Sorting -->
                    <th class="cursor-pointer">Username</th>
                    <th class="cursor-pointer" (click)="sort('firstName')">First Name</th>
                    <th class="cursor-pointer" (click)="sort('lastName')">Last Name</th>
                    <th class="cursor-pointer" (click)="sort('email')">Email</th>
                    <th class="cursor-pointer" (click)="sort('birthDate')">Birth Date</th>
                    <th class="cursor-pointer" (click)="sort('basicSalary')">Basic Salary</th>
                    <th class="cursor-pointer" (click)="sort('status')">Status</th>
                    <th class="cursor-pointer" (click)="sort('group')">Group</th>
                    <th class="cursor-pointer" (click)="sort('description')">Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- Table Rows with Data Binding and Pagination -->
                <tr *ngFor="let employee of pagedEmployees">
                    <td>{{ employee.username }}</td>
                    <td>{{ employee.firstName }}</td>
                    <td>{{ employee.lastName }}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.birthDate | date }}</td>
                    <td>{{ toRupiah(employee.basicSalary) }}</td>
                    <td>{{ employee.status }}</td>
                    <td>{{ employee.group }}</td>
                    <td>{{ employee.description }}</td>
                    <td>
                        <div (click)="onItemClick(employee)" class="cursor-pointer badge badge-primary badge-outline">
                            show</div>&nbsp;
                        <div (click)="onAction(true)" class="cursor-pointer badge badge-warning badge-outline">Edit
                        </div>&nbsp;
                        <div (click)="onAction(false)" class="cursor-pointer badge badge-error badge-outline">
                            Delete</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation example" class="flex items-center justify-center pt-3">
        <ul class="inline-flex -space-x-px text-base h-10">
            <li>
                <a (click)="changePage(currentPage - 1)" aria-label="Previous"
                    class="cursor-pointer flex items-center justify-center px-4 h-10 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
            </li>
            <li *ngFor="let page of pages">
                <a (click)="changePage(page)"
                    [class]="currentPage === page ? 'text-white bg-gray-700 border border-gray-700' : 'text-white bg-gray-800 border border-gray-700'"
                    class=" cursor-pointer flex items-center justify-center px-4 h-10 leading-tight ">{{
                    page }}</a>
            </li>
            <li>
            <li>
                <a (click)="changePage(currentPage + 1)" aria-label="Next"
                    class="cursor-pointer flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
            </li>
        </ul>
    </nav>

</div>