<div class="w-64">
    <input type="text" [(ngModel)]="searchText" class="w-full p-2 border rounded" placeholder="Search options">
    <select [(ngModel)]="selectedOption" class="w-full p-2 border rounded">
      <option value="">-- Select an option --</option>
      <option *ngFor="let option of filteredOptions" [value]="option.value">{{ option.label }}</option>
    </select>
  </div>
  