<div *ngIf="loginError" class="alert alert-error my-3">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>Login Failed !, please try again</span>
</div>
<div *ngIf="loginSuccess" class="alert alert-success my-3">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>Login Success !</span>
</div>
<div class="container py-12 mx-auto">
    <div class="login-container">
        <h2>Login</h2>
        <form (ngSubmit)="onSubmit()" class=" space-y-3">
            <div class="form-group">
                <label for="username">Username</label>&nbsp;
                <input type="text" id="username" name="username" [(ngModel)]="username" required placeholder="Username"
                    class="input input-bordered w-full max-w-xs" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>&nbsp;
                <input class="input input-bordered w-full max-w-xs" type="password" id="password" placeholder="Password" name="password"
                    [(ngModel)]="password" required>
            </div>
            <button type="submit" class="btn bg-green-800">Login</button>
        </form>
    </div>
</div>