<nav>
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl">angular test</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li *ngIf="!isLoggedIn"><a routerLink="/login" routerLinkActive="active">Login</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="/employee-list" routerLinkActive="active">Employee-list</a></li>
        <li *ngIf="isLoggedIn"><a (click)="logOut()" routerLinkActive="active">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="drawer">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-side">
    <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
      <!-- Sidebar content here -->
      <li>
        <a><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>Home
        </a>
      </li>
      <li><a><mat-icon>supervised_user_circle</mat-icon>Employee List</a></li>

    </ul>
  </div>
</div>
<router-outlet></router-outlet>